body {
  margin: 0;
  position: relative;
}
.img,
.trash_img {
  width: 200px;
  height: 200px;
  position: absolute;
  background: url(../img/chair.png) no-repeat;
  background-position: top center;
  background-size: cover;
  /*height:100px;*/
  /*border-radius: 50px;*/
}
.trash_img {
  width: 150px;
  height: 150px;
  background: url(../img/trash.png) no-repeat;
  background-size: contain;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.container:before {
  content: "";
  display: table;
}
.container #workSpace {
  position: relative;
  margin: 0 auto;
}
.container #workSpace #mother,
.container #workSpace #motherBackground,
.container #workSpace #trash {
  left: -300px;
  top: 0;
  z-index: 10;
}
.container #workSpace #trash {
  top: 250px;
  left: -280px;
}
.container #workSpace #chairsArea {
  position: relative;
  width: 1200px;
  height: 800px;
  background: #2E7555;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container #workSpace #chairsArea .chair {
  z-index: 10;
  box-sizing: border-box;
}
.container #workSpace #chairsArea .chair > input {
  background: #DC8526;
  color: white;
  position: absolute;
  text-align: center;
  height: 20px;
  width: 100px;
  bottom: 0;
  left: 20%;
  line-height: 20px;
  border-radius: 20px;
}
.container #workSpace #chairsArea .chair > .people {
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  font-size: 10px;
  z-index: 20;
  color: white;
  width: 100px;
  height: 100px;
  background: url(../img/people.png) no-repeat;
  background-position: top center;
  background-size: cover;
}
.container #workSpace #chairsArea .chair > .people > div {
  position: relative;
  top: 50px;
}
.container #workSpace #chairsArea .chair > .people > div span {
  display: block;
}
.container #workSpace #chairsArea .title {
  position: absolute;
  font-size: 50px;
}
.container #workSpace #chairsArea #desk {
  width: 800px;
  height: 500px;
  border-radius: 250px;
  background-color: cadetblue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-400px, -250px);
  -ms-transform: translate(-400px, -250px);
}
.container #workSpace #chairsArea #desk .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 60px;
}
.container #people {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 800px;
  background: #00688F;
  margin-right: 20px;
}
.container #people .people {
  cursor: pointer;
  font-size: 10px;
  float: left;
  z-index: 20;
  color: white;
  width: 100px;
  height: 100px;
  background: url(../img/people.png) no-repeat;
  background-position: top center;
  background-size: cover;
}
.container #people .people > div {
  position: relative;
  top: 50px;
}
.container #people .people > div span {
  border-left: solid 1px;
  display: block;
  background: rgba(255, 0, 0, 0.3);
}
.container #people .people > div span:first-child {
  background: rgba(0, 255, 0, 0.3);
}
.container #people .people > div span:last-child {
  background: rgba(0, 0, 255, 0.3);
}
