body {
  margin: 0;
  padding: 0;
  position: relative;
}
.img {
  width: 8.5rem;
  height: 8.5rem;
  position: absolute;
  background: url(../img/chair.png) no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: 10;
  /*height:100px;*/
  /*border-radius: 50px;*/
}
.trash_img {
  width: 6.8rem;
  height: 6.8rem;
  z-index: 10;
  transform: translate(8.5rem, 0);
  -ms-transform: translate(8.5rem, 0);
  background: url(../img/trash.png) no-repeat;
  background-position: top center;
  background-size: contain;
}
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container #workSpace {
  overflow: hidden;
  position: relative;
}
.container #workSpace #chairsArea {
  box-sizing: border-box;
  float: left;
  z-index: 0;
  position: relative;
  width: 83rem;
  background: #2E7555;
}
.container #workSpace #chairsArea .chair {
  z-index: 10;
  box-sizing: border-box;
}
.container #workSpace #chairsArea .chair > input {
  background: #DC8526;
  color: white;
  position: absolute;
  text-align: center;
  height: 20px;
  width: 100px;
  bottom: 0;
  left: 20%;
  line-height: 20px;
  border-radius: 20px;
}
.container #workSpace #chairsArea .chair > .people {
  cursor: pointer;
  position: absolute;
  font-size: 10px;
  z-index: 20;
  color: white;
  width: 100px;
  height: 100px;
  background: url(../img/people.png) no-repeat;
  background-position: top center;
  background-size: cover;
}
.container #workSpace #chairsArea .chair > .people > div {
  position: relative;
  top: 50px;
}
.container #workSpace #chairsArea .chair > .people > div span {
  display: block;
}
.container #workSpace #chairsArea .title {
  position: absolute;
  font-size: 50px;
}
.container #workSpace #chairsArea #desk {
  box-sizing: border-box;
  width: 50rem;
  height: 25rem;
  border-radius: 6.25rem;
  background-color: cadetblue;
  border: 1.25rem solid #d8d8d8;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-25rem, -12.5rem);
  -ms-transform: translate(-25rem, -12.5rem);
}
.container #workSpace #chairsArea #desk .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 60px;
}
.container #workSpace #rightArea {
  box-sizing: border-box;
  width: 17rem;
  position: relative;
  background: rgba(255, 0, 0, 0.5);
  margin-left: 83rem;
}
.container #workSpace #rightArea #mother,
.container #workSpace #rightArea #motherBackground {
  top: 0;
  left: 0;
}
.container #workSpace #people {
  overflow: hidden;
  width: 17rem;
  position: absolute;
  top: 0;
  right: 0;
  height: 800px;
  background: #00688F;
  margin-right: 20px;
}
.container #workSpace #people .people {
  cursor: pointer;
  float: left;
  z-index: 20;
  color: white;
  width: 100px;
  height: 100px;
  background: url(../img/people.png) no-repeat;
  background-position: top center;
  background-size: cover;
}
.container #workSpace #people .people > div {
  position: relative;
  top: 55px;
}
.container #workSpace #people .people > div span {
  font-size: 10px;
  border-left: solid 1px;
  display: block;
  background: rgba(255, 0, 0, 0.3);
}
.container #workSpace #people .people > div span:first-child {
  background: rgba(0, 255, 0, 0.3);
}
.container #workSpace #people .people > div span:last-child {
  background: rgba(0, 0, 255, 0.3);
}
